h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: left;
  font-size: 25px;
  line-height: 40px;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 18px;
  line-height: 40px;
}

.item-about{
  background-color: #A5C9CA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.card-text{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 13px;
  line-height: 25px;
  color: white;
}

.item-project{
  background-color: black;
}

.card-title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: left;
  font-size: 25px;
  line-height: 40px;
  color: white;
}